@import "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-VariableFont.ttf");
}

@font-face {
  font-family: "langar";
  src: url("./assets/fonts/Langar-Regular.ttf");
}

@theme {
  --font-inter: inter;
  --font-langar: langar;

  /* Text */
  --color-char-pri: #112750;
  --color-char-pri-tint: #23417a;
  --color-char-sec: #eaeef1;
  --color-char-ter: #a6a4a4;

  /* Background */
  --color-frame-pri: #f0f3fa;
  --color-frame-sec: #b1c9ef;
  --color-frame-sec-tint: #d5deef;
  --color-frame-sec-shade: #8aaee0;
  --color-frame-ter: #314158;
  --color-frame-qua: #c7c8cc;
  --color-frame-red: #941012;
  --color-frame-red-shade: #810e10;

  --color-primary: #3f97cf;
  --color-pri-shade: #cbdfff;
  --color-grey: #888888;
  --color-light-grey: #bfbfbf;
  --color-dark-grey: #343338;
  --color-dark-grey-shade: #2c2b30;
  --color-dark-grey-tint: #403f44;

  /* Info */
  --color-info-error: #f75656;
  --color-info-success: #2e7d31;
  --color-info-warning: #fbc02d;

  --breakpoint-xs: 30rem;
}

@layer base {
  body {
    @apply font-inter text-char-pri bg-frame-pri;
  }

  section.hero {
    @apply pt-10 pb-2 sm:pt-16 sm:pb-0 relative min-h-screen flex overflow-hidden;
  }

  h2 {
    @apply font-bold text-[1.5rem];
  }
  h3 {
    @apply font-bold text-[1.375rem];
  }
  h4 {
    @apply font-semibold text-[1.25rem];
  }
  h5 {
    @apply font-semibold text-[1.125rem];
  }
  h6 {
    @apply font-semibold text-[1rem];
  }

  .body1 {
    @apply text-xl/[2rem];
  }
  .body2 {
    @apply text-lg/[1.75rem];
  }
  .body3 {
    @apply text-base/[1.5rem];
  }

  .sec-padding {
    @apply px-4;
  }
  .sec-margin {
    @apply my-10;
  }
  .page-container {
    @apply max-w-[86rem] mx-auto container;
  }

  @media screen and (min-width: --theme(--breakpoint-sm)) {
    .sec-padding {
      @apply px-[1.75rem];
    }
    .sec-margin {
      @apply my-20;
    }
    h2 {
      @apply text-[2rem];
    }
    h3 {
      @apply text-[1.75rem];
    }
  }

  @media screen and (min-width: --theme(--breakpoint-md)) {
    .sec-padding {
      @apply px-[2.5rem];
    }
    .sec-margin {
      @apply my-40;
    }
    h2 {
      @apply text-[2.5rem];
    }
    h3 {
      @apply text-[2.25rem];
    }
    h4 {
      @apply text-[1.5rem];
    }
    h5 {
      @apply font-semibold text-[1.375rem];
    }
    h6 {
      @apply font-semibold text-[1.25rem];
    }
  }

  @media screen and (min-width: --theme(--breakpoint-lg)) {
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .style-langar {
    -webkit-text-stroke: 1px black;
    @apply drop-shadow-xl;
  }

  .bg-linear-light {
    @apply bg-linear-to-b from-[#6F9DC6] to-[#8AAEE0];
  }

  .bg-linear-light-modal {
    @apply bg-linear-to-b from-[#D5DEEF] to-[#F0F3FA];
  }

  .profile-layout {
    @apply rounded-lg border-1 border-slate-400 bg-frame-sec-tint p-4 xl:px-8 xl:py-4;
  }

  .profile-info-grid {
    @apply grid sm:grid-cols-2 gap-4 xl:gap-y-3 xl:gap-x-8;
  }

}
