@import "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-VariableFont.ttf");
}

@font-face {
  font-family: "langar";
  src: url("./assets/fonts/Langar-Regular.ttf");
}

@theme {
  --font-inter: inter;
  --font-langar: langar;

  --color-dark-primary: #252527;
  --color-dark-secondary: #343338;
  --color-primary: #3F97CF;
}

@utility wrapper {
  @apply mx-auto px-8;

  @variant md {
    @apply px-30;
  }
}

@layer components {
  .style-langar {
    -webkit-text-stroke: 1px black;
    @apply drop-shadow-xl;
  }
}